PORT=3001
NODE_ENV=development


DATABASE_URL=postgresql://neondb_owner:npg_G1cvwMZHa7rB@ep-muddy-mouse-ao09j92f-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


CLERK_PUBLISHABLE_KEY=pk_test_cHJldHR5LWhhd2stODEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_4RTojjYJa2zIxH3EgQh5lnlZMFrJfe8UKPe8JdBksf

SENTRY_DSN=https://06e0a4d16724f6fe7e766a56b399f31c@o4511467964268544.ingest.us.sentry.io/4511467979407360

STREAM_API_KEY=3j6yh535r7na
STREAM_API_SECRET=p5rr9tk44b969478r2kw29tnvfgp2mf6k3thvxcfr9wftaaqdtgz2y4mqtxkkmhd

IMAGEKIT_PUBLIC_KEY=public_FBqPE1Wht/0I0s/zpevBEUEWEMw=
IMAGEKIT_PRIVATE_KEY=private_EU2n6INrHiFZLHQpnSbp9HofSDU=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/is8pbviuf